@charset "UTF-8";
/*@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic);*/

/* CORE LAYOUT STYLES */

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/EOT/SourceSansPro-ExtraLight.eot') format('embedded-opentype'),
         url('../fonts/WOFF/OTF/SourceSansPro-ExtraLight.otf.woff') format('woff'),
         url('../fonts/OTF/SourceSansPro-ExtraLight.otf') format('opentype'),
         url('../fonts/TTF/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('../fonts/EOT/SourceSansPro-ExtraLightIt.eot') format('embedded-opentype'),
         url('../fonts/WOFF/OTF/SourceSansPro-ExtraLightIt.otf.woff') format('woff'),
         url('../fonts/OTF/SourceSansPro-ExtraLightIt.otf') format('opentype'),
         url('../fonts/TTF/SourceSansPro-ExtraLightIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/EOT/SourceSansPro-Light.eot') format('embedded-opentype'),
         url('../fonts/WOFF/OTF/SourceSansPro-Light.otf.woff') format('woff'),
         url('../fonts/OTF/SourceSansPro-Light.otf') format('opentype'),
         url('../fonts/TTF/SourceSansPro-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('../fonts/EOT/SourceSansPro-LightIt.eot') format('embedded-opentype'),
         url('../fonts/WOFF/OTF/SourceSansPro-LightIt.otf.woff') format('woff'),
         url('../fonts/OTF/SourceSansPro-LightIt.otf') format('opentype'),
         url('../fonts/TTF/SourceSansPro-LightIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/EOT/SourceSansPro-Regular.eot') format('embedded-opentype'),
         url('../fonts/WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
         url('../fonts/OTF/SourceSansPro-Regular.otf') format('opentype'),
         url('../fonts/TTF/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('../fonts/EOT/SourceSansPro-It.eot') format('embedded-opentype'),
         url('../fonts/WOFF/OTF/SourceSansPro-It.otf.woff') format('woff'),
         url('../fonts/OTF/SourceSansPro-It.otf') format('opentype'),
         url('../fonts/TTF/SourceSansPro-It.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/EOT/SourceSansPro-Semibold.eot') format('embedded-opentype'),
         url('../fonts/WOFF/OTF/SourceSansPro-Semibold.otf.woff') format('woff'),
         url('../fonts/OTF/SourceSansPro-Semibold.otf') format('opentype'),
         url('../fonts/TTF/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('../fonts/EOT/SourceSansPro-SemiboldIt.eot') format('embedded-opentype'),
         url('../fonts/WOFF/OTF/SourceSansPro-SemiboldIt.otf.woff') format('woff'),
         url('../fonts/OTF/SourceSansPro-SemiboldIt.otf') format('opentype'),
         url('../fonts/TTF/SourceSansPro-SemiboldIt.ttf') format('truetype');
}

[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],UNUSED.ng-cloak,UNUSED.x-ng-cloak,.ng-hide, .ng-cloak{display:none !important;}

.modal {
display: block;
overflow-y:scroll;
}

html{height:100%;}

body {
    position: relative;
    right: 0px;
    font-family: "Source Sans Pro", sans-serif !important;
    color: #656565;
    left: 0px;
    line-height: 1.5;
    width:100% !important;    
    height: 100%;
    overflow-y: scroll;
    /*font-weight: 400;
    font-style: normal;*/
    background: #f0f0e8;
    display:block;
}

/*.bg_dashboard {
    background:#f5f7fa;
}*/
body.modal-open {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
}
.bg-sunny {
    min-height:100%;
    position:relative;
    top: 0px;
    width: 100%;
    float: left;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #e7bf00 !important;
}
.nav-pills > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.nav-tabs > li > a, .nav-pills > li > a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: none !important;
    width: 970px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.solid-bg {
    background: #FFFFFF;
}

/*.row {
    margin-bottom: 20px;
}

    .row .row {
        margin-top: 10px;
        margin-bottom: 0;
    }

[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 5px;
}*/

#main-container, #bottom-container, #left-container {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

/*input, button, select, textarea {
    font-family: 'Lato', sans-serif;
}*/

select {
    padding: 4px 6px;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #555555;
    background: #fff; 
    vertical-align: middle;
}

h1, h2, h3 {
    line-height: 2.4;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

a:hover, a:focus {
    opacity: 0.7;
    text-decoration: none;
}
/* END CORE LAYOUT STYLES */

/* CORE TYPOGRAPHY STYLES */



ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    ul li {
        list-style-type: none;
    }
/* CORE END TYPOGRAPHY STYLES */

/* NAV BAR STYLES */
.navbar-static-top {
    background: #FFFFFF;
    z-index: 1;
	position: static;
}

/* END NAV BAR STYLES */
hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* FILTERS */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
        padding-right: 18px;
    }
}

/* END FILTERS */

.poweredby {
    background: url(/widgets/footer/img/logos/logo-softcrylic.png) no-repeat top right;
    color: #555555;
    font-size: 8px;
    font-weight: bold;
    height: 35px;
    padding: 12px 95px 10px 0;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/*.table-tabs {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}*/

.rd-container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: none !important;
    width: 95%;
    min-width: 970px;
    margin-left: auto;
    margin-right: auto;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
/*...................................................................................................................*/

.metric-channel {
    background: #FFF;
    border: 2px solid #eaeade;
    text-transform: uppercase;
    margin-top: 10px;
    margin-right:12px;
}

.main-well {
    padding-left: 20px;
    margin: 20px 0 0;
}

.main-well-reports {
    padding: 0 20px;
}

#view-nav {
    color: #97978e;
    font-size: 13px;
    margin: 20px 0 0;
    text-transform: uppercase;
    font-weight: 500;
}

.granularity-calendar{
	overflow:auto;
	overflow-y: hidden;
}
.filter-calendar{
    overflow:auto;
}
.filter-calendar #filters{
    width:40%;
}
.filter-calendar #calendar{
    width:40%;
}
@media (max-width: 767px){
    .filter-calendar #calendar{
       float: right; 
    }   
}
/* div[data-ui-view] {position: relative;} */


.metric-channel p.action.collapsed a.viewmore, .metric-channel p.action.collapsed a.collapseit, .metric-channel p.action a.expandit {
    display: none;
}

.metric-channel p.action a.viewmore, .metric-channel p.action a.collapseit, .metric-channel p.action.collapsed a.expandit {
    display: inline-block;
}

/*@media (min-width:768px){.modal-dialog{width:100%!important;}*/
#close-modal{
    position: absolute;
    background: url(close-btn.png) 0 0 no-repeat;
    width: 24px;
    height: 27px;
    display: block;
    top: -7px;
    right: -7px;
}

/*Admin widget styling for outer containers*/

.admin-widget-container {
    overflow: visible;
    margin: 0 45px !important;
}
.admin-wrapper{
    /*font-family: 'Lato', sans-serif;*/
}

.bootbox.bootboxModal {
    overflow: auto;
    margin:auto;
}
.bootbox .modal-header{
    padding: 9px 15px;
    background-color:#A1A218;
}
.bootbox .modal-header h4 {
    text-align: center !important;
    background-color: #a1a218;
    color: white;
    font-size: 14px !important;
    padding: 5px;
}
.bootbox .modal-body{
    background-color: white !important;
    padding-top: 40px;
    padding-bottom: 20px;
}
.bootbox .bootbox-body {
    text-align: center;        
}
.bootbox .modal-footer{
    background-color: white !important;
    text-align: center;
    border: none;
    padding-top: 20px;
    padding-bottom: 50px;
}
.bootbox .modal-footer button{
    width:130px;
}

/* Buttons! */
.btn {
  display: inline-block;
  *display: inline;
  border: none;
  *zoom: 1;
  padding: 10px 20px;
  margin-bottom: 0;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  background-color: #f5f5f5;
  border-radius: 0;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
}
.btn:active,
.btn.active {
  background-color: #cccccc;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
}
/*.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}*/
.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
}
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}
.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
}
.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}
.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
  color: #ffffff;
  background-color: #e7bf00 !important;
  font-weight: bold;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #e7bf00;
  color: #ffffff;
  opacity: 0.7;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #97b400;
}
.btn-warning {
  color: #ffffff;
  background-color: #faa732;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c67605;
}
.btn-danger {
  color: #ffffff;
  background-color: #da4f49;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25;
}
.btn-success {
  color: #ffffff;
  background-color: #5bb75b;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}
.btn-success:active,
.btn-success.active {
  background-color: #408140;
}
.btn-info {
  color: #ffffff;
  background-color: #49afcd;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c;
}
.btn-inverse {
  color: #ffffff;
  background-color: #363636;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808;
}
button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: #e7bf00;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-link:hover,
.btn-link:focus {
  color: #9b8000;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
  color: #333333;
  text-decoration: none;
}

/* End buttons. */


div.span9.main-well {
    width: 74.36%;
}

.row-fluid:after {
    clear: both;
}
button {
    /*font-family: 'Lato', sans-serif;*/

}
.metric-channel + a.pos {
    position: relative;
}
.metric-channel + a.pos .configBtn {    
    position: absolute;
    right: 20px !important;
    top: 28px !important;    
}
.borderclass .metric-channel {
    border: 2px dashed #ccc;
}
.bg-remove + a.pos .configBtn {
    display:none;
}
.editbtn {
    background-color: #e7bf00;
    color: white;
    padding: 7px 20px;
    width: 150px;
    border:0;
    margin-top:60px;
    position: relative;
    left: 11px;
}
.editbtn .fa.fa-pencil-square-o {
    font-size: 15px;
    line-height: 19px;
    margin-right: 5px;
}
.filterbox {
    margin-top:20px;
}

   .span6.dbm1.char-dash {
    min-height: 475px;
}
.dbm1.char-dash .graph-chart {
    margin-top:0;
}
a {
    cursor:pointer;
}


/* Dashboard modules. */
@media all and (min-width:768px) and (max-width:1284px) {
    .row-fluid .span6.metric-channel {
    width: 47.718%;
}
    
}
@media all and (max-width:767px) {
    .row-fluid .span6.metric-channel {
    width: 100%;
}
}
@media all and (max-width:1600px) {
     .span6.dbm1.char-dash {
    min-height: 500px;
}
}
@media all and (min-width:1600px) { 
    .bg-sunny .dbm1, .bg-sunny .dbm2, .bg-sunny .dbm3, .bg-sunny .dbm4 {
        width:32%;
        margin: 10px 1% 10px 0;
    }
}
@media (max-width: 1200px){
    .metric-channel {
        margin-right:8px;
    }   
}

.configBtn {   
    background: url("/img/global-sprite.png") no-repeat scroll -342px 0 rgba(0, 0, 0, 0);
    font-size: 18px !important;
    height: 25px;
    letter-spacing: 1px;
    margin-top: -5px;
    position: absolute;
    right: 0 !important;
    top: -14px !important;
    width: 22px;
    z-index: 8;
}
.borderclass {
    position: relative;
}
.btn-edit {
    margin-bottom:10px;
}

.close.preview-btn {
    margin-top: 15px;
}
.highcharts-contextmenu hr {
    margin-bottom:0;
    margin-top:0;
}
.divider{display:none;}
.pos {
    position: absolute !important;
    top: 10px;
}
[class*="col-"] .pos{
    right:0px !important;
}
.reportSetting .pos {
    right:0px !important;
}
.panel .panel-heading {
    border-bottom: 0;
    font-size: 14px;
}
.panel-default>.panel-heading {
    color: #444;
    background-color: #fff;
    border-color: #cfdbe2;
}
.panel.panel-default {
    border-top-width:3px;
}
.portlet.box > .portlet-header{
    padding:17px 15px !important;
}

/*.bottomspace {margin-bottom:20px !important;}*/

.navbar
{
    border-radius:0;
}





