<div id="login">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="login-form">
                <img alt="" src="./img/logos/tapestrykpi_logo.png">

                <h2  class="login-text" data-progress-notification="inProgress">Login</h2>
                <div *ngIf="loading" style="color: #B40404"><div *ngIf="errorstatus">{{error}}</div><img *ngIf="loadingImage"height="120px" width="120px" src="http://www.arabianbusiness.com/skins/ab.main/gfx/loading_spinner.gif" alt="loading.." title="loading.."/></div>
                
                <form action="" class="ng-pristine ng-valid" >
                    <fieldset  class="clearfix">
                        <div>
                            <input #username auto-fill-sync class="input" type="text" placeholder="Email" name="username" autofocus="autofocus">
                        </div>

                        <div>
                            <input #password class="input" type="password" placeholder="Password">
                        </div>
                            <button type="button" class="btn primary btn-primary btn-large" (click)="login(username.value,password.value)">
                            Sign in <span class="ico-btn-more"></span>
                            <!--staticModal.show();-->
                        </button>
                        <!--<button type="button" class="btn btn-primary" (click)="staticModal.show()">Static modal</button>-->
                        <a class="forgetpw">Forgot your password?</a>
                        <input type="checkbox" class="rememberme" id="rememberme"><label for="rememberme">Remember Me</label>
                    </fieldset>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>