<div class="modal-dialog">
                <div class="modal-content">
    <div class="modal-header">
        <button class="close" type="button" (click)="closeModal()">X</button>
        <h4 class="modal-title" style="margin-left:0px;">Your login is associated with multiple clients :</h4>
    </div>
    <div data-progress-notification="inProgress"></div>
    <div class="modalbody">
        <form name="agentsform" class="agentsform">
            <div class="form-group">
                <select name="clientname" required>
                    <option value="">Please Select a Client</option>
                    <!--<option value="">The Weather Channel</option>
                    <option value="">The Weather Group</option>
                    <option value="">Tapestry KPI</option>-->
                    <option *ngFor="let client of clients" value= "{{client.displayName}}">{{client.displayName}}</option>
                </select>

                <div class="clearfix"></div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn delete-btn" type="button" (click)="closeModal()">Cancel</button>
        <button class="btn btn-primary" type="button" (click)="submit()">submit</button>
    </div>
    </div>
</div>



